
*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

$default-font: 'Roboto Mono', monospace
$accent: orange

// $ff-h1: 'Montserrat', sans-serif
// $ff-h2: 'Roboto Mono', monospace
// $ff-h3: 'Roboto Mono', monospace
// $ff-h4: 'Alegreya Sans', sans-serif
// $ff-h5: 'Comfortaa', cursive
// $ff-h6: 'Tinos', serif
// $ff-p: 'Montserrat', sans-serif










// ...
